@import url('https://fonts.googleapis.com/css?familyUbuntu&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  background-color: #f2f3f4;
  color: #42464d;
  
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #42464d;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 0.5rem;
}

nav li {
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.875rem;
  padding: 0.25rem;
  transition: all .2s ease-in-out;
}

nav li:hover{
  background-color: #42464d;
  border-radius: 0.25rem;
}

nav li:hover a{
  color: #fff;
}

h1 {
  text-align: center;
  margin: 4rem auto;
	font-size: 3rem;
  line-height: 1;
}

.card {
  margin: 0 auto;
  width: 22rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
  border-radius: 0.25rem;
  flex-direction: column;
}

.card ul {
  width: 100%;
  padding:1rem;
  list-style: none;
}

.card ul li {
  padding: 0.50rem 1rem;
}

.card ul li +li {
 border-top: 2px solid #cdcdcd;
}

.center {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}